<app-header></app-header>
<main>
    <div class="password-input">
        <label for="password">Enter Password Phrase:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password" />
    </div>

    <div class="file-input">
        <label for="file">Choose File to encrypt:</label>
        <input type="file" id="file" name="file" (change)="onEncryptFileSelected($event)" />
    </div>

    <div class="file-input">
        <label for="file">Choose File to decrypt:</label>
        <input type="file" id="file" name="file" (change)="onDecryptFileSelected($event)" />
    </div>

    <div class="buttons">
        <button (click)="onEncryptFileClicked()" id="encryptFileButton">Encrypt File</button>
        <button (click)="onDecryptFileClicked()" id="decryptFileButton">Decrypt File</button>
    </div>

    <div class="string-input">
        <label for="inputString">Enter String to Encrypt/Decrypt:</label>
        <input type="text" id="inputString" name="inputString" [(ngModel)]="inputString" placeholder="Enter your string" />
    </div>

    <div class="output">
        <label for="outputEncryptedString">Encrypted String:</label>
        <textarea id="outputEncryptedString" name="outputEncryptedString" rows="1" readonly>{{ encryptedString }}</textarea>
    </div>

    <div class="output">
        <label for="outputDecryptedString">Decrypted String:</label>
        <textarea id="outputDecryptedString" name="outputDecryptedString" rows="1" readonly>{{ decryptedString }}</textarea>
    </div>

    <div class="buttons">
        <button (click)="onEncryptStringClicked()" id="encryptStringButton">Encrypt String</button>
        <button (click)="onDecryptStringClicked()" id="decryptStringButton">Decrypt String</button>
    </div>
</main>
